.home-preloader {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 64px;
  height: 64px;
  margin-top: -100px;
  margin-left: -32px;
}

body {
  overflow-x: hidden;
  font-family: Roboto, serif;
  color: #000;
}

a {
	color: #4099FF;
  text-decoration: none;
}

a:hover {
  color: #260e1b;
  text-decoration: none;
}
